{% extends "layout.html" %}

{% block additional_css %}

     <!-- Link to leaflet CSS and javascript for maps-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <title>UEA Glider Overview</title>


{% endblock %}

{% block main_content %}

    <div class="totals">
    <h3>
    UEA glider group has carried out {{ "{:,}".format(mission_count) }} missions with {{ "{:,}".format(glider_count) }}
        gliders, completing a total of {{ "{:,}".format(dive_count) }} dives.</h3>
    </div>
    <div class="mapbox">
     <!-- Create a map div -->
    <div id="map" style="height: 800px; "></div>
    <!-- Script to create a leaflet map-->
    <script>

    <!-- Map centered at setVew([lat, lon], zoom-level) -->
    let map = L.map('map').setView([-50, -40], 5)

    // Gebco base layer, we add it to map so it will always be the background

    let gebco =  L.tileLayer.wms('https://www.gebco.net/data_and_products/gebco_web_services/2019/mapserv?', {
        layers: 'GEBCO_2019_Grid',
        attribution: 'GEBCO Compilation Group (2020)'}).addTo(map);
    // A series of optional map layers
    let basemaps = {

        Ice: L.tileLayer.wms('https://geos.polarview.aq/geoserver/wms?', {
            layers: 'polarview:antarctic_icechart_nic',
           	opacity: 0.5,
    		format: 'image/png',
    		transparent: true,
            attribution: "Polar View (ESA)"
        }),

        EEZ: L.tileLayer.wms('http://geo.vliz.be/geoserver/MarineRegions/wms?', {
    		layers: 'eez_boundaries,eez', //'eez,eez_12nm,eez_24nm,eez_archipelagic_waters,eez_boundaries',
    		opacity: 0.5,
    		format: 'image/png',
    		transparent: true,
            attribution:"Flanders Marine Institute (VLIZ)"
        }),

    };
	let targetIcon = L.icon({
		iconUrl: '/static/img/icons/target.png',
		shadowUrl: '/static/img/icons/targetshadow.png',
		iconSize:     [16, 32], // size of the icon
		shadowSize:   [32, 32], // size of the shadow
		iconAnchor:   [8, 31], // point of the icon which will correspond to marker's location
		shadowAnchor: [6, 31],  // the same for the shadow
		popupAnchor:  [0, -30] // point from which the popup should open relative to the iconAnchor
	});
    let targetDict = JSON.parse('{{ mission_tgts| tojson | safe}}');

    // Function adds popup content to markers
	function popupText(feature, layer) {
		layer.bindPopup(feature.properties.popupContent);
	}

    // Use the target icon on each target and add popup content
	let targetsLayer = L.geoJSON(targetDict, {
		pointToLayer: function (feature, latlng) {
			return L.marker(latlng, {icon: targetIcon});
		},
		onEachFeature: popupText
	}).addTo(map);

    // Controls for the map
    L.control.layers(basemaps).addTo(map);
    // Length scale with mad width in pixels
    L.control.scale({maxWidth: 200}).addTo(map)
    map.fitBounds(targetsLayer.getBounds());
    </script>
    </div>
<div class="container mission-list">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Mission</th>
      <th scope="col">Mission Name</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Info</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
  {% for m in mission_list %}

    <tr>
      <th scope="row">{{  m.MissionID }}</th>
      <td>{{  m.Name}}</td>
      <td>{{  m.StartDate.strftime("%Y-%m-%d")}}</td>
      <td>{{  m.EndDate.strftime("%Y-%m-%d")}}</td>
      <td>{{  m.Info}}</td>
      <td><a href="/mission{{ m.MissionID }}" class="btn btn-primary" role="button">Select Mission</a></td>
 {%  endfor %}
  </tbody>
</table>
</div>
{% endblock %}

