{% extends "layout.html" %}

{% block additional_css %}
     <!-- Link to leaflet CSS and javascript for maps-->
    <link rel="stylesheet" href="/static/css/leaflet.css"/>
    <script src="static/js/leaflet.js"></script>
    <title>UEA Glider Overview</title>


{% endblock %}
{% block extra_nav %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Mission
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% for m in mission_list %}
            <a class="dropdown-item" href="/mission{{ m.Number }}" >Mission {{ m.Number }} {{ m.Name }}</a>
        {% endfor %}
    </div>
</li>
{% endblock %}
{% block main_content %}

    <div class="totals">
        <img src="/static/img/icons/uea_sg_logo.jpg" width="200px" class="img-thumbnail" alt="UEA glider group logo">
        <span id="timeline" class="heading-text">
    During {{ timespan }} years of operation, UEA glider group has carried out {{ "{:,}".format(mission_count) }}
        missions.<br>Our {{ "{:,}".format(glider_count) }}
        gliders have conducted a total of {{ "{:,}".format(dive_count) }} dives.</span>
    </div>
    <div class="mapbox">
     <!-- Create a map div -->
    <div id="map" style="height: 800px; "></div>
    <!-- Script to create a leaflet map-->
    <script nonce="{{ nonce }}">

    <!-- Map centered at setVew([lat, lon], zoom-level) -->
    let map = L.map('map')

    // Gebco base layer, we add it to map so it will always be the background

	let oceans_layer = L.tileLayer("https://maps.nbp.usap.gov/maptiles/ocean_tiles/{z}/{y}/{x}.png",
        {maxZoom: 8, attribution: "© Esri, USGS, NOAA", errorTileUrl: '/static/img/transparent-tile.png'}).addTo(map);
	let targetIcon = L.icon({
		iconUrl: '/static/img/icons/target.png',
		shadowUrl: '/static/img/icons/targetshadow.png',
		iconSize:     [16, 32], // size of the icon
		shadowSize:   [32, 32], // size of the shadow
		iconAnchor:   [8, 31], // point of the icon which will correspond to marker's location
		shadowAnchor: [6, 31],  // the same for the shadow
		popupAnchor:  [0, -30] // point from which the popup should open relative to the iconAnchor
	});
    let targetDict = JSON.parse('{{ mission_tgts| tojson | safe}}');

    // Function adds popup content to markers
	function popupText(feature, layer) {
		layer.bindPopup(feature.properties.popupContent);
	}

    // Use the target icon on each target and add popup content
	let targetsLayer = L.geoJSON(targetDict, {
		pointToLayer: function (feature, latlng) {
			return L.marker(latlng, {icon: targetIcon});
		},
		onEachFeature: popupText
	}).addTo(map);


    // Length scale with mad width in pixels
    L.control.scale({maxWidth: 200}).addTo(map)
    map.fitBounds(targetsLayer.getBounds());
    </script>
    </div>
<div class="container mission-list">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Mission</th>
      <th scope="col">Mission Name</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Info</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for m in mission_list %}

    <tr>
      <th scope="row">{{  m.Number}}</th>
      <td>{{  m.Name}}</td>
      <td>{{  m.StartDate.strftime("%Y-%m-%d")}}</td>
      <td>{{  m.EndDate.strftime("%Y-%m-%d")}}</td>
      <td>{{  m.Info|safe}}</td>
      <td><a href="/mission{{ m.Number }}" class="btn btn-primary" role="button">Select</a></td>
 {%  endfor %}
  </tbody>
</table>
</div>
{% endblock %}

