{% extends "layout.html" %}
{% block additional_css %}
        <link rel="stylesheet" href="/static/css/dive.css"/>
        <title>Redirect</title>
{% endblock %}
{% block main_content %}
    <div class="oldphp">
    <h1> Attention! You are entering a PHP-free zone</h1>
    <h3> Looking for the old UEA glider site?</h3>
         <img src="/static/img/old-website-images/dive-page-banner.png" width="1200" alt="Old site dive page banner">
        <p>Those were the days </p>
        <p><h4>The old site is gone, but lives forever in our hearts</h4>
        &#9829; Bastien's PHP monstrosity 2010 - 2021 &#9829;</p>

    <a href="/" class="btn btn-primary" role="button">click here</a> for a redirect to the shiny new site
    </div>
{% endblock %}
