{% extends "layout.html" %}

{% block main_content %}
        <div class="form-container">
        <form action="" method="POST" class="account-form">
            <h1>Add a new mission</h1>
            <input name="missionid" type="number" placeholder=" New Mission ID" class="form-control" value="{{ missionid }}" required>
            <input name="name" type="text" placeholder=" Mission name" class="form-control" value="{{ name}}" required>
            <input name="start" type="date" placeholder=" start date" class="form-control" value="{{ start }}" required>
            <input name="end" type="date" placeholder=" end date" class="form-control" value="{{ end}}" required>
            <input name="info" type="text" placeholder=" Info" class="form-control" value="{{ info }}" required>
            <button type="submit" class="btn btn-danger">Register</button>
            <div style="clear: both;"></div>

            {% if message %}
                <div class="success-message">{{ message }}</div>
            {% endif %}
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/account.css">
{% endblock %}
