{% extends "layout.html" %}

{% block main_content %}
        <div class="form-container">
        <form action="" method="POST" class="account-form">
            <h1>Add pin to a mission</h1>
            <input name="missionid" type="number" placeholder=" Mission ID (e.g. 60 for Eurec4a)" class="form-control" value="{{ missionid }}" required>
            <input name="name" type="text" placeholder=" Pin name (max 30 characters)"maxlength="30" class="form-control" value="{{ name}}" required>
            <input name="lat" type="number" step="0.0001" min="-190" max="90" placeholder=" lat (degrees.decimal-minutes e.g. 53.30 for 55 deg 30 min N)" class="form-control" value="{{ lat }}" required>
            <input name="lon" type="number" step="0.0001" min="-180" max="180" placeholder=" lon (degrees.decimal-minutes e.g. -13.05 for 13 deg 5 min W)" class="form-control" value="{{ lon}}" required>
            <b>protip:</b> add a link in info with: &lt;a href=https://other-site.com&gt;site name&lt;/a&gt;
            <input name="info" type="text" placeholder=" Info" class="form-control" value="{{ info }}" required>
            <button type="submit" class="btn btn-danger">Add Pin</button>
            <div style="clear: both;"></div>

            {% if message %}
                <div class="success-message">{{ message|safe }}</div>
            {% endif %}
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/edit.css">
{% endblock %}
