{% extends "layout.html" %}

{% block main_content %}
        <div class="form-container">
        <form action="" method="POST" class="account-form">
            <h1>Assign Glider</h1>
            <input name="glider_num" type="number" placeholder="Glider number, do not include SG" min="1" class="form-control" value="{{ glider_num }}" required>
            <input name="missionid" type="number" placeholder="Mission number (1 for sim dives)" min="0" class="form-control" value="{{ missionid }}" required>
            <button type="submit" class="btn btn-danger">Assign Glider</button>
            <div style="clear: both;"></div>

            {% if message %}
                <div class="success-message">{{ message|safe }}</div>
            {% endif %}
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/edit.css">
{% endblock %}
