{% extends "layout.html" %}

{% block main_content %}
    <div class="welcome">
        <h3>welcome <b>{{ user.Name }}</b></h3><br>
        What would you like to do?
    <div class="navdives">
        <a  class="btn btn-primary" role="button" href="/account/add_pin"> Add pin </a>
        <a  class="btn btn-primary" role="button" href="/account/add_target"> Add target </a>
        <a  class="btn btn-primary" role="button" href="/account/add_mission"> Add mission </a>
        <BR>
        <a  class="btn btn-warning" role="button" href="/account/remove_pin"> Remove pin </a>
        <a  class="btn btn-warning" role="button" href="/account/remove_target"> Remove target </a>
        <a  class="btn btn-warning" role="button" href="/account/remove_mission"> Remove mission </a>
    </div>
    </div>
<a href="/account/logout" class="btn btn-danger" role="button">Logout</a>
{% endblock %}
