{% extends "layout.html" %}

{% block main_content %}
        <div class="form-container">
        <form action="" method="POST" class="account-form">
            <h1>Remove Target</h1>
            Don't forget there's no Ctrl-Z in sql! If in doubt, don't.
            <input name="target_id" type="number" placeholder=" Target ID from table below" class="form-control" value="{{ target_id }}" required>
            <input name="target_id_confirm" type="number" placeholder=" Confirm target ID" class="form-control" value="{{ target_id_confirm }}" required>
            <button type="submit" class="btn btn-danger">Remove Target</button>
            <div style="clear: both;"></div>

            {% if message %}
                <div class="success-message">{{ message|safe }}</div>
            {% endif %}
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
        </form>
    </div>

    <div class="container pins-list">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Target ID</th>
      <th scope="col">Name</th>
      <th scope="col">Lat</th>
      <th scope="col">Lon</th>
      <th scope="col">Mission</th>
    </tr>
  </thead>
  <tbody>
  {% for p in targets %}

    <tr>
      <th scope="row">{{  p.TargetsID }}</th>
      <td>{{  p.Name}}</td>
      <td>{{  p.Latitude}}</td>
      <td>{{  p.Longitude}}</td>
      <td><a href="/mission{{ p.MissionID }}" class="btn btn-primary" role="button">Mission {{ p.MissionID }}</a></td>
 {%  endfor %}
  </tbody>
</table>
</div>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/edit.css">
{% endblock %}
