{% extends "layout.html" %}

{% block main_content %}
        <div class="form-container">
        <form action="" method="POST" class="account-form">
            <h1>Remove all Dives from Mission 1 for glider</h1>
            Don't forget there's no Ctrl-Z in sql! If in doubt, don't.
            <input name="glider_id" type="number" placeholder=" Glider number from table below" min="1"  class="form-control" value="{{ glider_id }}" required>
            <input name="glider_id_confirm" type="number" placeholder=" Confirm Glider number" min="1"  class="form-control" value="{{ glider_id_confirm }}" required>
            <button type="submit" class="btn btn-danger">Remove all Mission 1 dives for this glider</button>
            <div style="clear: both;"></div>

            {% if message %}
                <div class="success-message">{{ message|safe }}</div>
            {% endif %}
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
        </form>
    </div>

    <div class="container pins-list">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Glider Number</th>
      <th scope="col">Name</th>
        <th scope="col">Info</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
  {% for p in gliders %}

    <tr>
      <th scope="row">{{  p.Number }}</th>
      <td>{{  p.Name}}</td>
      <td>{{  p.Info}}</td>
      <td><a href="/glider{{ p.Number }}" class="btn btn-primary" role="button">SG{{ p.glider }}</a></td>
 {%  endfor %}
  </tbody>
</table>
</div>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/edit.css">
{% endblock %}
