{% extends "layout.html" %}

{% block additional_css %}
    <title>SG{{ glider_data.Number }} {{ glider_data.Name }}</title>
{% endblock %}
{% block main_content %}
    <div class="headline">

        <h1> SG{{ glider_data.Number }} {{ glider_data.Name }}</h1>
        <h3>{{ glider_data.Info|safe }} </h3><br>
        Total dives: {{dives_count}}
    </div>
<div class="container glider-list">

<h2>Missions Completed</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Mission</th>
      <th scope="col">Mission</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Info</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
  {% for m in mission_list %}

    <tr>
      <th scope="row">{{  m.MissionID }}</th>
      <td>{{  m.Name}}</td>
      <td>{{  m.StartDate.strftime("%Y-%m-%d")}}</td>
      <td>{{  m.EndDate.strftime("%Y-%m-%d")}}</td>
      <td>{{  m.Info|safe}}</td>
      <td><a href="/mission{{ m.MissionID }}" class="btn btn-primary" role="button">Select Mission</a></td>
 {%  endfor %}
  </tbody>
</table>
</div>
{% endblock %}

