{% extends "layout.html" %}

{% block additional_css %}
    <title>Glider Summary</title>
{% endblock %}
{% block main_content %}

    <div class="container mission-list">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Glider </th>
                <th scope="col">Name</th>
                <th scope="col">Glider Info</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for g in glider_list %}

                <tr>
                <th scope="row">SG{{  g.Number }}</th>
                <td>{{  g.Name}}</td>
                <td>{{  g.Info}}</td>
                <td><a href="/gliders/SG{{ g.Number }}" class="btn btn-primary" role="button">Select Glider</a></td>
            {%  endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

