{% extends "layout.html" %}

{% block additional_css %}

     <!-- Link to leaflet CSS and javascript for maps-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

{% endblock %}

{% block main_content %}
    <div class="totals">
        this mission is {{ mission.MissionID }}
    </div>
    <div class="mapbox">
     <!-- Create a map div -->
    <div id="map" style="height: 800px; "></div>
    <!-- Script to create a leaflet map-->
    <script>

    <!-- Map centered at the first target in the list. Could improve -->
    let map = L.map('map').setView([{{ targets[0].Latitude}}, {{targets[0].Longitude }}], 5)

    // Gebco base layer, we add it to map so it will always be the background

    let gebco =  L.tileLayer.wms('https://www.gebco.net/data_and_products/gebco_web_services/2019/mapserv?', {
        layers: 'GEBCO_2019_Grid',
        attribution: 'GEBCO Compilation Group (2020)'}).addTo(map);
    // A series of optional map layers
    let basemaps = {

        Ice: L.tileLayer.wms('https://geos.polarview.aq/geoserver/wms?', {
            layers: 'polarview:antarctic_icechart_nic',
           	opacity: 0.5,
    		format: 'image/png',
    		transparent: true,
            attribution: "Polar View (ESA)"
        }),

        EEZ: L.tileLayer.wms('http://geo.vliz.be/geoserver/MarineRegions/wms?', {
    		layers: 'eez_boundaries,eez', //'eez,eez_12nm,eez_24nm,eez_archipelagic_waters,eez_boundaries',
    		opacity: 0.5,
    		format: 'image/png',
    		transparent: true,
            attribution:"Flanders Marine Institute (VLIZ)"
        }),

    };


    // Add the targets

    let marker = L.marker([{{targets[0].Latitude, targets[1].Latitude}}, {{ targets[0].Longitude, targets[1].Longitude}}]).addTo(map);
    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();

    let circle = L.circle([{{ 0 }}, {{ 0}}], {
    color: 'red',
    fillColor: 'black',
    fillOpacity: 0.5,
    radius: 500
    }).addTo(map);


    // Controls for the map
    L.control.layers(basemaps).addTo(map);
    // Length scale with mad width in pixels
    L.control.scale({maxWidth: 200}).addTo(map)
    </script>
    </div>


{% endblock %}

