{% extends "layout.html" %}

{% block additional_css %}

     <!-- Link to leaflet CSS and javascript for maps-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <title>Mission {{ mission.MissionID }}</title>
{% endblock %}

{% block extra_nav %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Mission
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% for m in mission_list %}
            <a class="dropdown-item" href="/mission{{ m.Number }}" >Mission {{ m.Number }} {{ m.Name }}</a>
        {% endfor %}
    </div>
</li>
    {% for glider_dives_list in dives_by_glider_json %}
<li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SG{{ glider_dives_list['features'][0]['properties']['gliderNum'] }} Select Dive
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for d in glider_dives_list['features'] %}
                <a class="dropdown-item" href={{ d["properties"]["diveLink"] }} >Dive {{ d["properties"]["diveNum"] }}</a>
            {% endfor %}
        </div>
</li>

    {% endfor %}
{% endblock %}

{% block main_content %}

    <div class="totals">
        <h3>
            Mission {{ mission.MissionID }} {{ mission.Name }}
        </h3><br>
        Start {{ mission.StartDate.strftime("%Y-%m-%d") }}<br> End {{ mission.EndDate.strftime("%Y-%m-%d") }}
        <BR> TODO add mission summary here
    </div>

    <div class="quicklinks">
        {% for g in recentdivesdict["features"]%}

            <a href="{{ g["properties"]["diveLink"] }}" class="btn btn-primary" role="button">SG{{ g["properties"]["gliderNum"] }} latest dive</a>
        {% endfor %}
    </div>



    <div class="mapbox">
     <!-- Create a map div -->
    <div id="map" style="height: 800px; "></div>
    <!-- Script to create a leaflet map-->
    <script>

    // geojson layers passed from view method
    let targetDict = JSON.parse('{{ targetdict| tojson | safe}}');
    let waypointDict = JSON.parse('{{ waypointdict| tojson | safe}}');
    let divesDict = JSON.parse('{{ divesdict| tojson | safe}}');
    let latestDivesDict = JSON.parse('{{ recentdivesdict| tojson | safe}}');
    let depth10 = JSON.parse('{{ isobath_dict["depth_10_m"] | tojson | safe}}');
    let depth100 = JSON.parse('{{ isobath_dict["depth_100_m"] | tojson | safe}}');
    let depth1000 = JSON.parse('{{ isobath_dict["depth_1000_m"] | tojson | safe}}');
    let map = L.map('map')

    // Gebco base layer, we add it to map so it will always be the background


    // A series of optional map layers
    let gebco =  L.tileLayer.wms('https://www.gebco.net/data_and_products/gebco_web_services/2019/mapserv?', {
        layers: 'GEBCO_2019_Grid',
        attribution: 'GEBCO Compilation Group (2020)'}).addTo(map);
    
    let basemaps = {

        GEBCO: gebco
    };


    let isobaths = {


        Ice: L.tileLayer.wms('https://geos.polarview.aq/geoserver/wms?', {
            layers: 'polarview:antarctic_icechart_nic',
            opacity: 0.5,
            format: 'image/png',
            transparent: true,
            attribution: "Polar View (ESA)"
        }),

        EEZ: L.tileLayer.wms('http://geo.vliz.be/geoserver/MarineRegions/wms?', {
            layers: 'eez_boundaries,eez', //'eez,eez_12nm,eez_24nm,eez_archipelagic_waters,eez_boundaries',
            opacity: 0.5,
            format: 'image/png',
            transparent: true,
            attribution:"Flanders Marine Institute (VLIZ)"
        }),
        "<span style='color: red'>GEBCO 10 m</span>": L.geoJSON(depth10, {
            attribution: "GEBCO)",
            color:'red',
        }),
        GEBCO_100m: L.geoJSON(depth100, {
            attribution: "GEBCO)"
        }),
        GEBCO_1000m: L.geoJSON(depth1000, {
            attribution: "GEBCO)"
        }),


    };
    // Add the targets and seaglider icons

	let targetIcon = L.icon({
		iconUrl: '/static/img/icons/target.png',
		shadowUrl: '/static/img/icons/targetshadow.png',
		iconSize:     [16, 32], // size of the icon
		shadowSize:   [32, 32], // size of the shadow
		iconAnchor:   [8, 31], // point of the icon which will correspond to marker's location
		shadowAnchor: [6, 31],  // the same for the shadow
		popupAnchor:  [0, -30] // point from which the popup should open relative to the iconAnchor
	});

	let seagliderIcon = L.icon({
		iconUrl: '/static/img/icons/seaglider.png',
		shadowUrl: '/static/img/icons/seaglidershadow.png',
		iconSize:     [40, 30], // size of the icon
		shadowSize:   [55, 30], // size of the shadow
		iconAnchor:   [20, 29], // point of the icon which will correspond to marker's location
		shadowAnchor: [20, 30],  // the same for the shadow
		popupAnchor:  [3, -30] // point from which the popup should open relative to the iconAnchor
	});


    // Function adds popup content to markers
	function popupText(feature, layer) {
		layer.bindPopup(feature.properties.popupContent);
	}




    // Use the target icon on each target and add popup content
	let targetsLayer = L.geoJSON(targetDict, {
		pointToLayer: function (feature, latlng) {
			return L.marker(latlng, {icon: targetIcon});
		},
		onEachFeature: popupText
	}).addTo(map);

	let waypointLayer = L.geoJSON(waypointDict, {

		onEachFeature: popupText
	}).addTo(map);


	// setting color from geojson. We have enough unique colors for 8 gliders. After that they'll all be white
        function getColor(stype) {
          switch (stype) {
            case 0:
              return "#ff7f0e" ;
            case 1:
              return "#4ac6a9";
            case 2:
              return '#d71f2c';
            case 3:
              return '#8aff5e';
            case 4:
              return '#d910be';
            case 5:
              return '#daff00';
            case 6:
              return '#07010a';
            default:
              return 'white';
          }
        }

        // Adding all dives to map. Fillcolor by glider number, adding popup text
        let divesLayer = L.geoJson(divesDict, {
            pointToLayer: function (feature, latlng) {
            return new L.CircleMarker(latlng, {radius: 5,
                                                fillOpacity: 1,
                                                color: 'black',
                                                fillColor: getColor(feature.properties.gliderOrder),
                                                weight: 1,});
            },
         onEachFeature: popupText
        }).addTo(map);


    // Use the seaglider icon on most recent dive by each glider and add popup content
	let seagliderLayer = L.geoJSON(latestDivesDict, {
		pointToLayer: function (feature, latlng) {
			return L.marker(latlng, {icon: seagliderIcon});
		},
		onEachFeature: popupText
	}).addTo(map);

    // Controls for the map
    L.control.layers(basemaps, isobaths).addTo(map);
    // Length scale with mad width in pixels
    L.control.scale({maxWidth: 200}).addTo(map)

    // Fit map to targets
    map.fitBounds(divesLayer.getBounds());
    </script>
    </div>

    <div class="images">
    <h3> TODO generic mission plots here</h3><br>
        {% for plot in missionplots %}
        <img src={{ plot }} ><br>
        {% endfor %}

    </div>


{% endblock %}

