{% extends "layout.html" %}

{% block additional_css %}
    <title>Argos Tags</title>
{% endblock %}
{% block main_content %}

    <div class="container glider-list">

        <h2>Argos tags</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Tag number </th>
                <th scope="col">Current Mission</th>
                <th scope="col">Current Glider</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for g in tag_list %}

                <tr>
                <th scope="row">{{  g.TagNumber }}</th>
                <td><a href="/mission{{ g.MissionID }}" class="btn btn-primary" role="button">Mission {{g.MissionID}}</a></td>
                <td><a href="/gliders/SG{{ g.GliderID }}" class="btn btn-primary" role="button">SG{{g.GliderID}}</a></td>
            {%  endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}

