{% extends "layout.html" %}
{% block additional_css %}
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/dive.css"/>
        <title>SG{{glider_num }} Dive {{ dive_num}} Mission {{ mission_num }}</title>
{% endblock %}
{% block main_content %}
    <div class="dive-info">
        <h3>Dive <span class="red">{{ dive.DiveNo }}</span> by glider  <span class="red">SG{{glider_num }}</span></h3>
        {% if dive.DiveNo %}
            Status: {{ dive.status }}
        {% endif %}
        {% if dive.Elevation %}
        Topography under post dive surfacing: <span class="red">{{ dive.Elevation }}</span>
        {% endif %}
    </div>
    {% for plot in dive_plots %}
        <a data-bs-toggle="modal" data-bs-target={{ '#'+plot[-8:-4] }}>
         <img src={{ plot }} width="400" alt="Piloting image thumbnail">
        </a>

        <!-- Modal -->
        <div class="modal fade" id={{ plot[-8:-4] }} tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                    <a href={{ plot }}><img src={{ plot }} /></a>
              </div>
            </div>
          </div>
        </div>

    {% endfor %}
    <div class="navdives">
        {% for item, link in links_dict.items() %}
            <a  class="btn btn-primary" role="button" href={{ link }}> {{ item }} </a>

        {% endfor %}

    </div>

{% endblock %}

