body {

    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    color: #000000;
}


.totals {
    margin-bottom: 20px;
}

.quicklinks {
    margin-bottom: 20px;
}
footer {
    margin-top: 30px;
    text-align: center;

}

.error-message {
    color: #a00d0d;
    text-align: center;
}